body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Shabnam';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.clearfix:before,
.clearfix:after {
  content: ' ';
  display: table;
}

.clearfix:after {
  clear: both;
}

/* screen-reader only */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  font-size: 0;
  border: 0;
  margin: 0;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

@font-face {
  font-family: Shabnam;
  src: url('./assets/font/farsi/Shabnam-FD.eot');
  src: url('./assets/font/farsi/Shabnam-FD.eot?#iefix')
      format('embedded-opentype'),
    url('./assets/font/farsi/Shabnam-FD.woff2') format('woff2'),
    url('./assets/font/farsi/Shabnam-FD.woff') format('woff'),
    url('./assets/font/farsi/Shabnam-FD.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Shabnam;
  src: url('./assets/font/farsi/Shabnam-Bold-FD.eot');
  src: url('./assets/font/farsi/Shabnam-Bold-FD.eot?#iefix')
      format('embedded-opentype'),
    url('./assets/font/farsi/Shabnam-Bold-FD.woff2') format('woff2'),
    url('./assets/font/farsi/Shabnam-Bold-FD.woff') format('woff'),
    url('./assets/font/farsi/Shabnam-Bold-FD.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: Shabnam;
  src: url('./assets/font/farsi/Shabnam-Thin-FD.eot');
  src: url('./assets/font/farsi/Shabnam-Thin-FD.eot?#iefix')
      format('embedded-opentype'),
    url('./assets/font/farsi/Shabnam-Thin-FD.woff2') format('woff2'),
    url('./assets/font/farsi/Shabnam-Thin-FD.woff') format('woff'),
    url('./assets/font/farsi/Shabnam-Thin-FD.ttf') format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: Shabnam;
  src: url('./assets/font/farsi/Shabnam-Light-FD.eot');
  src: url('./assets/font/farsi/Shabnam-Light-FD.eot?#iefix')
      format('embedded-opentype'),
    url('./assets/font/farsi/Shabnam-Light-FD.woff2') format('woff2'),
    url('./assets/font/farsi/Shabnam-Light-FD.woff') format('woff'),
    url('./assets/font/farsi/Shabnam-Light-FD.ttf') format('truetype');

  font-weight: 300;
}

@font-face {
  font-family: Shabnam;
  src: url('./assets/font/farsi/Shabnam-Medium-FD.eot');
  src: url('./assets/font/farsi/Shabnam-Medium-FD.eot?#iefix')
      format('embedded-opentype'),
    url('./assets/font/farsi/Shabnam-Medium-FD.woff2') format('woff2'),
    url('./assets/font/farsi/Shabnam-Medium-FD.woff') format('woff'),
    url('./assets/font/farsi/Shabnam-Medium-FD.ttf') format('truetype');
  font-weight: 500;
}
code {
  font-family: 'Shabnam';
}
